button.aristo-default {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  -khtml-appearance: none;
  -moz-appearance: none;
  padding: 0px 13px;
  background: none;
  margin: 5px;
  -webkit-border-image: url("images/aristo-button-bezel-o.png") 2 2 2 2 stretch stretch;
  -moz-border-image: url("images/aristo-button-bezel-o.png") 2 2 2 2 stretch stretch;
  color: #4f4f4f;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  text-shadow: 0px 1px 1px #fff;
  height: 24px;
  line-height: 20px;
}
button.aristo-default:hover {
  -webkit-box-shadow: 0 0 5px #d4d4d4;
  -moz-box-shadow: 0 0 5px #d4d4d4;
}
button.aristo-default:active:not(:disabled) {
  -webkit-border-image: url("images/aristo-button-bezel-x.png") 2 2 2 2 stretch stretch;
  -moz-border-image: url("images/aristo-button-bezel-x.png") 2 2 2 2 stretch stretch;
}
button.aristo-default:disabled {
  opacity: 0.5;
}
button.aristo-blue {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  -khtml-appearance: none;
  -moz-appearance: none;
  padding: 0px 13px;
  background: none;
  margin: 5px;
  -webkit-border-image: url("images/aristo-button-bezel-o.png") 2 2 2 2 stretch stretch;
  -moz-border-image: url("images/aristo-button-bezel-o.png") 2 2 2 2 stretch stretch;
  color: #4f4f4f;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  text-shadow: 0px 1px 1px #fff;
  height: 24px;
  line-height: 20px;
  -webkit-border-image: url("images/aristo-button-bezel-blue-o.png") 2 2 2 2 stretch stretch;
  -moz-border-image: url("images/aristo-button-bezel-blue-o.png") 2 2 2 2 stretch stretch;
  color: #1c4257;
}
button.aristo-blue:hover {
  -webkit-box-shadow: 0 0 5px #d4d4d4;
  -moz-box-shadow: 0 0 5px #d4d4d4;
}
button.aristo-blue:active:not(:disabled) {
  -webkit-border-image: url("images/aristo-button-bezel-x.png") 2 2 2 2 stretch stretch;
  -moz-border-image: url("images/aristo-button-bezel-x.png") 2 2 2 2 stretch stretch;
}
button.aristo-blue:disabled {
  opacity: 0.5;
}
button.aristo-blue:hover {
  -webkit-box-shadow: 0 0 5px #a1cae2;
  -moz-box-shadow: 0 0 5px #a1cae2;
}
button.aristo-blue:active:not(:disabled) {
  -webkit-border-image: url("images/aristo-button-bezel-blue-x.png") 2 2 2 2 stretch stretch;
  -moz-border-image: url("images/aristo-button-bezel-blue-x.png") 2 2 2 2 stretch stretch;
}
label.aristo-radio,
label.aristo-checkbox {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
input.aristo[type=checkbox] {
  -khtml-appearance: none;
  background-image: url("images/aristo-checkbox-o.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  vertical-align: top;
}
input.aristo[type=checkbox]:checked {
  background-image: url("images/aristo-checkbox-x.png");
}
input.aristo[type=radio] {
  -khtml-appearance: none;
  background-image: url("images/aristo-radio-o.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  vertical-align: top;
}
input.aristo[type=radio]:checked {
  background-image: url("images/aristo-radio-x.png");
}
::-webkit-slider-thumb {
  -khtml-appearance: none;
  background-image: url("images/aristo-slider-knob-o.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
}
::-webkit-slider-thumb:active {
  background-image: url("images/aristo-slider-knob-x.png");
}
input[type=range] {
  -khtml-appearance: none;
  -webkit-border-image: url("images/aristo-slider-horizontal-track.png") 2 4 2 4/2px 4px 2px 4px repeat repeat;
  height: 2px;
  padding: 0;
}
select.aristo {
  -khtml-appearance: none;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  background-image: url("images/aristo-select-arrow-bg.png"), url("images/aristo-select-bg.png");
  background-repeat: no-repeat, repeat-x;
  background-position: top right, 0 0;
  border-top: 0px;
  border-left: 1px solid #bdbdbd;
  border-bottom: 0px;
  border-right: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0px 1px 1px #fff;
  color: #4f4f4f;
  padding: 0px 40px 0px 13px;
  height: 24px;
  line-height: 20px;
}
ul.aristo-menu {
  list-style: none;
  height: 28px;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  background-image: url("images/aristo-menu-bg.png");
  background-repeat: repeat-x;
  background-position: center center;
}
ul.aristo-menu li {
  float: left;
  margin: 0;
  padding: 0 9px;
  height: 28px;
}
ul.aristo-menu li:first-child {
  padding-left: 18px;
}
ul.aristo-menu li:last-child {
  padding-right: 18px;
}
ul.aristo-menu li a {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 11px;
  line-height: 28px;
  font-weight: bold;
  color: #1c4257;
  text-shadow: 0px 1px 1px #fff;
}
ul.aristo-menu li a:hover {
  color: #000;
}
ul.aristo-menu-inverse {
  list-style: none;
  height: 28px;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  background-image: url("images/aristo-menu-bg.png");
  background-repeat: repeat-x;
  background-position: center center;
  background-image: url("images/aristo-menu-inverse-bg.png");
}
ul.aristo-menu-inverse li {
  float: left;
  margin: 0;
  padding: 0 9px;
  height: 28px;
}
ul.aristo-menu-inverse li:first-child {
  padding-left: 18px;
}
ul.aristo-menu-inverse li:last-child {
  padding-right: 18px;
}
ul.aristo-menu-inverse li a {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 11px;
  line-height: 28px;
  font-weight: bold;
  color: #1c4257;
  text-shadow: 0px 1px 1px #fff;
}
ul.aristo-menu-inverse li a:hover {
  color: #000;
}
ul.aristo-menu-inverse li a {
  color: #a5a5a5;
  text-shadow: 0px 1px 1px #000;
}
ul.aristo-menu-inverse li a:hover {
  color: #fff;
}
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-button:vertical:end {
  background-image: url("images/aristo-scroller-down-arrow-o.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 20px;
}
::-webkit-scrollbar-button:vertical:start {
  background-image: url("images/aristo-scroller-up-arrow.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 22px;
}
::-webkit-scrollbar-button:horizontal:start {
  background-image: url("images/aristo-scroller-left-arrow.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
}
::-webkit-scrollbar-button:horizontal:end {
  background-image: url("images/aristo-scroller-right-arrow.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
}
::-webkit-scrollbar-thumb:vertical {
  -webkit-border-image: url("images/aristo-scroller-vertical-knob.png") 8 0 8 0/8px 0 8px 0 stretch repeat;
}
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-image: url("images/aristo-scroller-horizontal-knob.png") 7 9 7 9/7px 9px 7px 9px stretch repeat;
}
::-webkit-scrollbar-track-piece:vertical:start {
  background-image: url("images/aristo-scroller-up-arrow-track.png"), url("images/aristo-scroller-vertical-track.png");
  background-repeat: no-repeat, repeat-y;
}
::-webkit-scrollbar-track-piece:vertical:end {
  background-image: url("images/aristo-scroller-down-arrow-track.png"), url("images/aristo-scroller-vertical-track.png");
  background-repeat: no-repeat, repeat-y;
  background-position: bottom left, 0 0;
}
::-webkit-scrollbar-track-piece:horizontal:end {
  background-image: url("images/aristo-scroller-right-arrow-track.png"), url("images/aristo-scroller-horizontal-track.png");
  background-repeat: no-repeat, repeat-x;
  background-position: bottom right, 0 0;
}
::-webkit-scrollbar-track-piece:horizontal:start {
  background-image: url("images/aristo-scroller-left-arrow-track.png"), url("images/aristo-scroller-horizontal-track.png");
  background-repeat: no-repeat, repeat-x;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}
